/*
Author: arpinux http://arpinux.org
*/
/* options -----------------------------------------------------------*/
* { padding:0; margin:0; }
ul li, ol li { list-style: square; list-style-position: inside; }
ol ol, ul ul, ol ul, ul ol { margin-left: 15px; margin-bottom: 0; }
ul { margin-bottom: 10px; }
img { 
    border: 1px solid #0F0F0F;
    margin-left: 10px;
}
img.sansbordure { border: 0 none; }
a { color: #BFBFBF; text-decoration: none; }
a:hover { color: #005885; text-decoration: underline; }
p { margin: 10px; padding-left: 10px; }
/* body --------------------------------------------------------------*/
body {
	color: #BFBFBF;
	background: #1A1A1A;
}
h1 {
	font-family: sans-serif;
	font-size: 26px;
	color: #BFBFBF;
	margin-bottom: 15px;
    border-bottom: 1px solid #005885;
}
/* container ---------------------------------------------------------*/
#container {
	width: 100%;
	height: 100%;
	margin: 0px auto;
    padding-bottom: 20px;
	overflow: hidden;
    background: #222222;
}
/* header ------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 55px;
    background-color: #1A1A1A;
    border-bottom: 1px solid #005885;
    opacity: 0.9;
    -moz-opacity : 0.9;
    -ms-filter: "alpha(opacity=90)";
}
#header h1 { border: none; }
#header h1 img {
    position: absolute;
    right: 0px;
    top: 0px;
}
#header h2 {
    position: absolute;
    font: 16px sans-serif;
	left: 20px;
    top: 15px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #1A1A1A;
}
/* content -----------------------------------------------------------*/
#links {
	display: block;
	margin: 70px auto 5px auto;
	width: 98%;
    background: #222222;
}
.categorie {
	padding: 10px;
	margin: 5px;
	float: left;
	position: relative;
	background-color: #1A1A1A;
	border: 1px solid #005885;
	color: #BFBFBF;
    box-shadow: 0 0 .5em #005885;
}
/* footer ------------------------------------------------------------*/
#footer {
    position: relative;
    margin-bottom: 0px;
    display: block;
	padding: 5px;
	background-color: #1A1A1A;
    font-size: 10px;
    border-top: 1px solid #005885;
    text-align: center;
    box-shadow: 0 0 .5em #005885;
}
/* cc BY-NC-SA License :: arpinux :: 2013 :: http://arpinux.org */
