#################### MENUBAR ###################


style "menubar"		

{
  xthickness			= 2
  ythickness			= 2

  fg[NORMAL]    ="#484E55"
  fg[PRELIGHT] 		= "#ABADB0"

	engine "pixmap"
	{
		image
		{
			function	= BOX
			state = NORMAL
			file		= "Others/null.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = ACTIVE
			file		= "Others/null.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = INSENSITIVE
			file		= "Others/null.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

  image
    {
      function			= BOX
      recolorable		= TRUE
			state = PRELIGHT
     file				= "Menu-Menubar/menubar-item.png"

      border			= { 2, 2, 2, 2
       }
      stretch			= TRUE
    }

 	}
}

